{% extends 'views_admin/administracion.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} Consulta de Contactos {% endblock %}
{% block content %}
<section>
    <div class="row admin">
        <div class="container admin pb-5">
            <div class="col-md-12">
                <h2 class="text-center pb-3">Consulta de Contactos</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="centrado">Nombre</th>
                                <th class="centrado">Correo</th>
                                <th class="centrado">Numero</th>
                                <th class="centrado">Mensaje</th>
                                <th class="centrado" colspan="4">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in contacto %}
                            <tr>
                                <td class="centrado">{{c.nombre}}</td>
                                <td class="centrado">{{c.correo}}</td>
                                <td class="centrado">{{c.numero}}</td>
                                <td class="centrado"><a href="{{c.mensaje}}">Mensaje</a></td>
                                <td class="centrado">
                                    <a href="/eliminarContacto/{{c.id}}/" class="btn btn-sm btn-block btn-danger btnEliminacion"><i class="far fa-trash-alt"></i> Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}